// 이미지 그룹핑
.img-row {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
  }
.img-row img {
    width: 48%;
    border-radius: 8px;
    object-fit: cover;
    overflow: hidden;
}

.responsive-video {
  position: relative;
  width: 90%;
  padding-bottom: 56.25%;
  height: 0;
  margin: auto;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.main {
  width: 100% !important;
  max-width: 1500px !important;
  margin-left: 310px;
}

.page, .archive {
  max-width: 100% !important;
  padding-right: 15%;
}

.page__content {
  max-width: 100% !important;
  width: 100% !important;
}